<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="ConfigurationCompilerAspectSection" type="AspectDN.Aspect.Compilation.Foundation.ConfigurationCompilerAspectSection, AspectDN.Aspect.Compilation.Foundation" />
	</configSections>

	<ConfigurationCompilerAspectSection>
		<ConfigurationCompilerAspectCollection>
			<Add Language="CS5" CompilerAspectAssemblyFilename="..\AspectDN.Aspect.Compilation.CS.CS5.dll" SyntaxDefinitionAssemblyFilename="..\AspectDN.Aspect.Syntax.CS.CS5Syntax.dll" TokenVisitorAssemblyFilename="..\AspectDN.Aspect.Syntax.CS.CS5Syntax.dll" SyntaxName="CS5" LogFilename="..\Debug\Compilation.log" IsDefault="true" />
		</ConfigurationCompilerAspectCollection>
	</ConfigurationCompilerAspectSection>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
